# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# HubSpot
HUBSPOT_API_KEY=
HUBSPOT_PORTAL_ID=47345959
HUBSPOT_OWNER_GEORGE=78947458
HUBSPOT_OWNER_ANDY=80955316
HUBSPOT_OWNER_ALEX=

# AI
ANTHROPIC_API_KEY=
NEXT_PUBLIC_CLAUDE_PROJECT_ID=019c2f71-edd1-7381-8879-219db0696fd0

# Access Control
ALLOWED_EMAILS=george.leith@adcellerant.com,andy.mcnab@adcellerant.com,alex.kirkley@adcellerant.com
